<!--
  Generated template for the VoterBallot page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ ballot.Name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card *ngFor="let decision of decisions;" [hidden]="decisions.length == 0">
    <ion-card-content>
      <ion-card-title>
        {{ decision.Name }}
      </ion-card-title>
    </ion-card-content>
    <ion-list radio-group [(ngModel)]="voterDecisions[decision.Id]" >
      <ion-item *ngFor="let opt of decision.Options">
        <ion-label>{{opt.Name}}</ion-label>
        <ion-radio value="{{opt.Id}}" ></ion-radio>
      </ion-item>
    </ion-list>
  </ion-card>

  <button ion-button (click)="castVote()" [hidden]="decisions.length == 0" [disabled]="isVoteDisabled()" block>
    Cast Vote
  </button>
</ion-content>
